.container{
  text-align: center;
}
body p{
  text-align: center;
}

body h1{
  text-align: center;
}
body h2{
  text-align: center;
}

#header{
  background-image: url(../images/backgrounds/h_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 636px;
  width: auto;
  text-align: center;
  padding-top: 200px;
  top: 50%;
  left: 50%;
}
.about{
  padding-bottom: 20px;
  padding-top: 50px;
  height: 300px;
}
.service{
  background-image: url(../images/backgrounds/s_image.jpg);
  padding-top: 50px;
  padding-bottom: 20px;
  color: white;
  height: 400px;
}
.row{
  background-image: contain;
}

.col{
  padding: 0;
}
.row{
  text-align: center;
}
.media{
  text-align: center;
}
.container{
  text-align: center;
}
.lop .row img{
  padding-left: 0;
  padding-right: 0;
  width: 250px;

}
.contact{
  background-image: url(../images/backgrounds/c_image.jpg);
  background-size: cover;
  width: auto;
  height: 600px;
  text-align: center;
  color: #fff;
}

.design-show{
  display: none;
}
.dev-show{
  display: none;
}
.product-show{
  display: none;
}
.contact{
  padding-left: 100px;
  text-align: center;
}
.row  input{
  background: transparent;
  border-bottom: 1px solid #fff;
}
.row  input::placeholder{
 color: white;
}


.row  textarea{
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
}
h3{
  color: #fff;
}
::placeholder{
  color:white;
}
/* .movie 1*/
.movie2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.movie {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#movie:hover .movie2{
  opacity: 0.3;
}

#movie:hover .movie {
  opacity: 1;
}

.name {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* orange 2*/
.orange2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.orange {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#orange:hover .orange2{
  opacity: 0.3;
}

#orange:hover .orange {
  opacity: 1;
}

.name1 {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* security 3*/
.security2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.security {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#security:hover .security2{
  opacity: 0.3;
}

#security:hover .security {
  opacity: 1;
}

.name2 {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* grey 4*/
.grey2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.grey {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#grey:hover .grey{
  opacity: 0.3;
}

#grey:hover .grey {
  opacity: 1;
}

.name3 {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* layout 5*/
.layout2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.layout {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#layout:hover .layout2{
  opacity: 0.3;
}

#layout:hover .layout {
  opacity: 1;
}

.name4 {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* setting 6*/
.setting2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.setting {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#setting:hover .setting2{
  opacity: 0.3;
}

#setting:hover .setting {
  opacity: 1;
}

.name5 {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* burn 7*/
.burn2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.burn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#burn:hover .burn2{
  opacity: 0.3;
}

#burn:hover .burn {
  opacity: 1;
}

.name6 {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/* giraffe8 */
.giraffe2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.giraffe {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#giraffe:hover .giraffe2{
  opacity: 0.3;
}

#giraffe:hover .giraffe {
  opacity: 1;
}

.name7 {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
 h4:hover{
   text-decoration: underline;
 }
.shake img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

body p{
  font-family: 'Crimson Text';
}
